.svg-image{
    width: 20px;
    height: 20px;
  }
  
  /* 封装的组件容器样式 */
  .link-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* 将超链接放置在底部 */
    position: relative;
    height: 120px; /* 适当调整高度 */
  }
  
  .social-media {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    background-color: white;        
    color: white;
    border-radius: 5px;
  }
  
  .centered-link {
    text-decoration: none;
    background-color: white;
    padding: 10px 10px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    transition: transform 0.3s;
  }
  
  .centered-link:hover {
    transform: scale(1.3); /* 放大到130% */
  }

  /* 提示框设置 */
  .centered-text {
    display: none;
    position: absolute;
    color: white;
    background-color: #404040;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    bottom: 50px; /* 调整提示框距离底部的距离 */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    line-height: 1.5;
  }
  
  .centered-link:hover + .centered-text {
    display: block;
  }